<html>
	<head>
	<link rel="stylesheet" type="text/css"  href="style.css"/>
	</head>
	
	<table>
		<thead>
			<tr>
				<th class="td_width">Action</th>
				<th class="td_width">Product Image</th>
				<th class="td_width">Product Name</th>
				<th class="td_width">Unit Price</th>
				<th class="td_width">Qty</th>
				<th class="td_width">Sub Total</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="td_width">Action</td>
				<td class="td_width">Action</td>
				<td class="td_width">Action</td>
				<td class="td_width">Action</td>
				<td class="td_width">Action</td>
				<td class="td_width">Action</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3"><button class="btn" type="button" title="Continue Shopping">Continue Shopping</button></td>
				<td colspan="3"><button class="btn" type="button" title="Continue Shopping">Update Shopping Cart</button></td>
			</tr>
		</tfoot>
	</table>
	
	
</html>